/* App Styles. Following BEM semantics CSS methodology. */

.app {
  width: 100%;
  height: 100%;
  position: relative;
  color: var(--color-grey-dark-3);
  border: .3rem solid red;
  
  background-image: linear-gradient(120deg, var(--color-primary-lighter-1), var(--color-primary-lighter-2));
}

.chart-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  border: .3rem solid green;
}
