/* Base styles */

html {
  font-size: 62.5%;
  box-sizing: border-box;

  --color-primary-light: #83CDFF;
  --color-primary-dark: #0894EB;
  
  --color-secondary-light: #FFC75F;
  --color-secondary-dark: #EB8C12;
  
  --color-tertiary-light: #e0c5ff0f;
  --color-tertiary-dark: #bb80ff2e;

  --color-white: #fff;
  --color-black: #000;
  
  --color-grey-light-1: #eee;
  --color-grey-light-2: #ddd;
  --color-grey-dark-1: #aaa;
  --color-grey-dark-2: #555;
  --color-grey-dark-3: #333;

  --font-size-small: 0.8rem;
  --font-size-medium: 1.8rem;
  --font-size-large: 2.5rem;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-size: var(--font-size-medium);
  margin: 0;
  font-family: 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100vw;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
